Source: rgbdiff
Package: rgbdiff
Section: utils
Priority: optional
Maintainer: Ian Pride <faithnomoread@yahoo.com>
Homepage: https://github.com/Lateralus138/rgbdiff
Version: 1.0.0.0
Installed-Size: 244
Architecture: amd64
Depends: libc6
Description: Get the distance between two 24 bit colors.
 Get the distance between two 24 bit colors using CIE1976.
